<div class="container-fluid dark section no-padding col-md-12" id="contato">
    <div class="col-sm-10 col-sm-offset-1 matchHeight" style="height: 324px;">
        <section class="padding-80 mobile-center">
            <header style="text-align:center">
                <h2>Já experimentou as Ceverjas da <b style="color: #cbb27c">Luz Beer ?</b></h2>
                <h2>Conte-nos o que achou e compartilhe com: #luz.beer</h2>
                <br />
                <h2>   Ainda não experimentou? </h2>
                <h2>Então pssa já a sua <b style="color: #cbb27c">Luz Beer</b></h2>
            </header>
            <br />
            <div style="text-align:center;font-size: 30px">
                <p>
                    Araraquara - SP
                </p>
                <p>
                    <i class="fab fa-whatsapp"> (16) 9 9403-0394</i>
                </p>
                <p>
                    <i class="far fa-envelope"> luzbeer@outlook.com</i>
                </p>
            </div>
        </section>
        <section class="mobile-center col-sm-8 col-sm-offset-2">
            <header style="text-align:center">
                <h2>Vamos conversar</h2>
            </header>
            <form name="formulario" action="http://scripts.redehost.com.br/formmail.aspx" method="post">
                <input type=hidden name="destino" value="EmailQueVaiReceberAsMensagens">
                <input type=hidden name="enviado" value="http://www.luzbeer.com.br/enviado.htm">
                <p>
                    <b>Nome:</b><br>
                    <input type=text name="nome" size="45">
                </p><br>
                <p>
                    <b>Email:</b><br>
                    <input type=text name="email" size="45">
                </p><br>
                <p>
                    <b>Mensagem:</b><br>
                    <textarea name="Mensagem" rows="3" cols="60" wrap="virtual"></textarea>
                </p><br>
                <p><input type="submit" value=" Enviar "> </p>
            </form>
        </section>
    </div>
</div>
