<div class="container-fluid dark section no-padding" id="nossaHistoria" style="background-color:rgb(125, 52, 0);" >
    <div class="col-sm-6 col-sm-offset-3 matchHeight" >
        <section class="padding-80 mobile-center">
            <header style="text-align:center">
                <h1>Nossa</h1>
                <h2>História</h2>
            </header>
            <p style="font-size: 20px; text-align: center">
                Porque todos nessa vida precisam de uma Luz, pensando nisso e no amor por cervejas diferenciadas, foi criado a <b>Luz Beer</b>, cujo nome é uma singela homenagem a Sueli, que significa "a luminosa", "a que brilha" ou "a que é cheia de Luz".
            </p>
            <p style="font-size: 20px;text-align: center">
                Fundada em 2017, por Pedro Henrique, na cidade de Araraquara, interior de São Paulo com o objetivo de trazer muita <b>Luz</b> alegria e diversão, fabricando cervejas diferenciadas com muito amor, carinho e <b>Luz</b>, porque todos nessa vidade precisam de uma <b>Luz</b>.
            </p>
        </section>
    </div>
</div>
